<div>
<%= form_for @player, {url: players_path, html: { multipart: true }} do |f| %>
	
<div>
<%= f.label :name %><br>
<%= f.text_field :name %>
</div>
<div>
<%= f.label :avatar %>
<%= f.file_field :avatar %>
</div>
<%= f.submit "Create" %>
  <% end %>
  <br />
</div>